.container{
    width: 95%;
    margin-top: 45px;
}
nav ul a {
    padding: 0 15px;
}

nav ul li span{
    
}

img.responsive-img.avatar {
    padding: 5px 0;
    margin-left: 25px;    
}

.dropdown-content {
    width: 240px !important;
}

.dropdown-content li > a > i {
    float: left;
    margin-right: 5px;
}

.des-materia{
    text-align: justify;
    font-size: 18px;
    color: #fff !important;
}

.titulo{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 0 0 10px 0;
    margin-bottom: 20px;
    border-bottom: 4px solid #f57c00;
}

.page-footer{
    padding: 10px 35px;
}